# @see https://github.com/nektos/act#first-act-run

--artifact-server-path /tmp/act-artifacts
--eventpath .github/act/event.json
# @see https://github.com/nektos/act#github_token
# --secret GITHUB_TOKEN="$(gh auth token)"
