# System Files
.DS_Store

# Dependencies
node_modules

# log
*.log*

# env files
.env*
!.env.example

# lefthook
lefthook-local.yaml

# rust
target

# act
.actrc

# Playwright
playwright-report
test-results

# storybook
storybook-static

# vscode
**/.vscode/settings.json

# dist
dist
