save-exact=true

# モノレポのpackagesもシンボリックリンクで管理する
link-workspace-packages=true

public-hoist-pattern[]=@types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*storybook*
