name: Lint GitHub Actions workflows
on:
  workflow_dispatch:
  # Remove push trigger for team development
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/**/*.ya?ml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Check workflow files
        # https://github.com/rhysd/actionlint
        #
        # To run locally, execute the following command:
        # docker run --rm -v "$(pwd):$(pwd)" -w "$(pwd)" rhysd/actionlint:latest
        uses: docker://rhysd/actionlint:1.7.10@sha256:ef8299f97635c4c30e2298f48f30763ab782a4ad2c95b744649439a039421e36
        with:
          args: -color
