name: Lint GitHub Actions workflows
on:
  workflow_dispatch:
  # Remove push trigger for team development
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.github/**/*.ya?ml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  actionlint:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Check workflow files
        # https://github.com/rhysd/actionlint
        #
        # To run locally, execute the following command:
        # docker run --rm -v "$(pwd):$(pwd)" -w "$(pwd)" rhysd/actionlint:latest
        uses: docker://rhysd/actionlint:1.7.9@sha256:a0383f60d92601e2694e24b24d37df7b6a40bed7cedbc447611c50009bf02d94
        with:
          args: -color
