name: Secret scan

on:
  workflow_dispatch:
  # Remove push trigger for team development
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  scan:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0

        # https://github.com/gitleaks/gitleaks-action
        # gitleaksを使って過去のcommitで漏洩してないか確認できる
        #
        # docker run --rm -v "$(pwd):/workspace" -w /workspace zricethezav/gitleaks:latest detect --source=/workspace --verbose --redact --log-opts="--all --full-history"

      - name: Secretlint
        # https://github.com/secretlint/secretlint
        #
        # To run locally, execute the following command:
        # docker run -v `pwd`:`pwd` -w `pwd` --rm -it secretlint/secretlint secretlint "**/*"
        uses: docker://secretlint/secretlint:v11.1.0@sha256:5b72e75b501e9cf602171beef128b28c8d7ee7f9277f219b289bae7183c81b9e
        with:
          args: secretlint "**/*"
