name: Secret scan

on:
  workflow_dispatch:
  # Remove push trigger for team development
  push:
    branches:
      - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  scan:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

        # https://github.com/gitleaks/gitleaks-action
        # gitleaksを使って過去のcommitで漏洩してないか確認できる
        #
        # docker run --rm -v "$(pwd):/workspace" -w /workspace zricethezav/gitleaks:latest detect --source=/workspace --verbose --redact --log-opts="--all --full-history"

      - name: Secretlint
        # https://github.com/secretlint/secretlint
        #
        # To run locally, execute the following command:
        # docker run -v `pwd`:`pwd` -w `pwd` --rm -it secretlint/secretlint secretlint "**/*"
        uses: docker://secretlint/secretlint:v11.3.0@sha256:ebcd9175bc408169b56a9a4ca747ec7b808281c79179914506919aa3fcbba264
        with:
          args: secretlint "**/*"
