name: Markdown lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**/*.md'
  pull_request:
    paths:
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  markdown-lint:
    runs-on: ubuntu-slim
    steps:
      - name: Check out
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: lint
        run: npx -y markdownlint-cli2 "**/*.md"
