name: Markdown lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**/*.md'
  pull_request:
    paths:
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: lint
        run: npx -y markdownlint-cli2 "**/*.md"
