name: Markdown lint

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - '**/*.md'
  pull_request:
    paths:
      - '**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  markdown-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: lint
        run: npx -y markdownlint-cli2 "**/*.md"
