name: release

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:
  release-please:
    if: github.actor != 'nektos/act'

    runs-on: ubuntu-latest

    outputs:
      prs: ${{ steps.release-please.outputs.prs }}
      releases_created: ${{ steps.release-please.outputs.releases_created }}
      paths_released: ${{ steps.release-please.outputs.paths_released }}

    steps:
      # lockfilesの不整合等でCheckoutとSetup Nodeの失敗してもrelease noteが作られてしまうのでrelease-pleaseにはCheckoutとSetup Nodeのstepはいらないが検証する
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - uses: googleapis/release-please-action@16a9c90856f42705d54a6fda1823352bdc62cf38 # v4
        id: release-please
        with:
          config-file: .github/.release-please-config.json
          manifest-file: .github/.release-please-manifest.json

      - name: Echo release-please outputs
        if: steps.release-please.outputs
        run: echo '${{ toJson(steps.release-please) }}'

  format:
    needs: release-please

    if: needs.release-please.outputs.prs

    runs-on: ubuntu-latest

    strategy:
      matrix:
        pr: ${{ fromJson(needs.release-please.outputs.prs) }}

    steps:
      - name: Checkout release-please Pull Request
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          ref: ${{ matrix.pr.headBranchName }}

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Configure Git user
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Format CHANGELOG.md
        run: |
          npx markdownlint-cli2 --fix '**/CHANGELOG.md'
          npx prettier --write '**/CHANGELOG.md'

      - name: Commit and push
        run: |
          git add --all
          git commit -m 'chore: format CHANGELOG.md' --no-verify
          git push

  publish:
    needs: release-please

    permissions:
      # https://docs.npmjs.com/trusted-publishers
      id-token: write # Required for OIDC
      contents: read

    if: needs.release-please.outputs.releases_created == 'true' && needs.release-please.outputs.paths_released != '[]'

    runs-on: ubuntu-latest

    strategy:
      matrix:
        path: ${{ fromJson(needs.release-please.outputs.paths_released) }}

    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Update npm
        run: npm install -g npm@latest

      - name: Publish package
        run: pnpm --filter "./${{ matrix.path }}" publish
