name: Setting File Format Check

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - 'apps/**'
      - 'packages/**'
  pull_request:
    paths-ignore:
      - 'apps/**'
      - 'packages/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  format-check:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Format Check
        id: format-check
        run: pnpm format

      - name: Tips
        if: failure()
        run: |
          echo 'Try the following command in the project root'
          echo 'pnpm format:fix'
